.extra {
  padding-bottom: 35px;
}

.extra__container {
  padding-left: 19px;
  padding-right: 20px;
}

.extra__wrapper-name {
  position: relative;
}

.extra__description-data {
  width: auto;
  font-size: 24px;
  line-height: 1;
  text-align: left;
  color: #111111;
  background-color: transparent;
  padding-right: 19px;
  margin-top: -16px;
  margin-bottom: 33px;
}

.extra__description-item {
  display: inline-block;
  vertical-align: top;
  background-color: #ffffff;
  padding-left: 19px;
  padding-right: 23px;
}

.extra__description-container {
  width: 100%;
  border-top: 3px solid #68b738;
  margin-top: 39px;
}

@media (min-width: 768px) {
  .extra__description-container {
    margin-top: 0;
  }

  .extra__container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .extra__description-item {
    margin-left: -30px;
    padding-left: 36px;
    padding-right: 35px;
  }

  .extra__description-data {
    font-size: 36px;
    line-height: 1;
    width: auto;
    padding-left: 61px;
    margin-top: -25px;
    background-color: transparent;
  }

  .extra {
    padding-bottom: 77px;
    margin-top: -54px;
  }
}

@media (min-width: 1440px) {
  .extra {
    margin-top: -46px;
  }

  .extra__container {
    max-width: 1220px;
    margin: 0 auto;
  }

  .extra__description-data {
    max-width: 1220px;
    margin: 0 auto;
    padding-left: 0;
    margin-top: -25px;
    background-color: transparent;
  }

  .extra__description-item {
    margin-left: -28px;
    padding-left: 36px;
    padding-right: 35px;
  }
}
