.fit-food {

}

.fit-food__wrapper {
  margin-right: 20px;
  margin-left: 20px;
}

.fit-food__list {
  display: flex;
  flex-direction: column;

  padding: 0;
}

.fit-food__item {
  list-style: none;
  min-height: 266px;
  background-color: #f2f2f2;
  padding-left: 21px;
  padding-right: 36px;
  padding-bottom: 22px;
  padding-top: 39px;
  margin-bottom: 20px;
}

.fit-food__caption {
  margin: 0;
  font-size: 24px;
  line-height: 1.54;
  text-align: left;
  color: #111111;
  text-transform: uppercase;
}

.fit-food__description {
  margin: 0;
  padding-top: 36px;
  font-family: "Arial", sans-serif;
  text-align: left;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.fit-food__details {
  display: block;
  font-size: 16px;
  line-height: 1;
  color: #111111;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 20px;
}

.fit-food__details--arrow {
  background-image: url("../img/icon-right-arrow-long.svg");
  background-repeat: no-repeat;
}

.fit-food__caption--cat-slim {
  background-image: url("../img/icon-cat-slim.svg");
  background-repeat: no-repeat;
}

.fit-food__caption--cat-pro {
  background-image: url("../img/icon-cat-pro.svg");
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .fit-food__wrapper {
    margin-right: 30px;
    margin-left: 30px;
  }
}
