.fit-food__wrapper {
  margin-right: 20px;
  margin-left: 20px;
}

.fit-food__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.fit-food__item {
  list-style: none;
  min-height: 266px;
  background-color: #f2f2f2;
  margin-top: 20px;
}

.fit-food__window {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 22px;
  padding-top: 24px;
}

.fit-food__caption {
  margin: 0;
  padding-top: 7px;
  padding-left: 71px;
  font-size: 24px;
  line-height: 1.54;
  text-align: left;
  color: #111111;
  text-transform: uppercase;
}

.fit-food__window::before {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #68b738;
  background-repeat: no-repeat;
  margin-left: 2px;
}

.fit-food__window-cat::after {
  content: "";
  top: 0;
  position: absolute;
  display: block;
  width: 35px;
  height: 49px;
  background-image: url("../img/icon-cat-slim.svg");
  background-repeat: no-repeat;
  margin-top: 23px;
  margin-left: 10px;
}

.fit-food__window-tiger::after {
  content: "";
  top: 0;
  position: absolute;
  display: block;
  width: 67px;
  height: 28px;
  background-image: url("../img/icon-cat-pro.svg");
  background-repeat: no-repeat;
  margin-top: 34px;
  margin-left: -7px;
}

.fit-food__description {
  margin: 0;
  padding-top: 30px;
  font-family: "Arial", sans-serif;
  text-align: left;
  padding-bottom: 23px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.fit-food__details {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding-top: 18px;

  &:hover .fit-food__icon-arrow-verylong {
    width: 34px;
    height: 12px;
  }

  &:focus .fit-food__icon-arrow-verylong {
    width: 34px;
    height: 12px;
  }

  &:active {
    opacity: 0.3;
  }
}

.fit-food__catalog {
  z-index: 1;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111;
  width: auto;
  padding-right: 10px;
  margin: 0;
  background-color: #f2f2f2;
}

.fit-food__details--arrow {
  background-image: url("../img/icon-right-arrow-long.svg");
  background-repeat: no-repeat;
}

.fit-food__caption--cat-slim {
  background-image: url("../img/icon-cat-slim.svg");
  background-repeat: no-repeat;
}

.fit-food__caption--cat-pro {
  background-image: url("../img/icon-cat-pro.svg");
  background-repeat: no-repeat;
}

.fit-food__icon-arrow-verylong {
  width: 25px;
  height: 12px;
  padding-top: 3px;
}

@media (min-width: 768px) {
  .fit-food__catalog {
    font-size: 20px;
    padding-right: 23px;
  }

  .fit-food__icon-arrow-verylong {
    padding-top: 0;
  }

  .fit-food__item {
    margin-top: 30px;
  }

  .fit-food__item:first-child {
    margin-top: 20px;
  }

  .fit-food__wrapper {
    margin-right: 30px;
    margin-left: 30px;
  }

  .fit-food__description {
    border: none;
    font-size: 16px;
    line-height: 1.5;
    min-width: 350px;
    padding-right: 315px;
  }

  .fit-food__caption {
    font-size: 36px;
    line-height: 1.03;
    padding: 0;
  }

  .fit-food__window {
    padding: 0;
    padding-left: 52px;
    padding-right: 62px;
    padding-bottom: 62px;
    padding-top: 77px;
  }

  .fit-food__window::before {
    width: 200px;
    height: 200px;
    right: 0;
    margin-right: 61px;
    margin-top: 16px;
  }

  .fit-food__window-cat::after {
    right: 0;
    margin: 0;
    width: 141px;
    height: 194px;
    margin-right: 91px;
    margin-top: 81px;
  }

  .fit-food__window-tiger::after {
    right: 0;
    margin: 0;
    width: 268px;
    height: 113px;
    margin-right: 28px;
    margin-top: 135px;
  }

  .fit-food__details {
    padding: 0;
    margin: 0;
    font-size: 20px;
    line-height: 1;
  }

  .fit-food__description-cat {
    padding: 0;
    padding-top: 25px;
    padding-bottom: 58px;
    box-sizing: border-box;
    padding-right: 218px;
  }

  .fit-food__description-tiger {
    padding: 0;
    padding-top: 24px;
    padding-bottom: 60px;
    box-sizing: border-box;
    padding-right: 250px;
  }
}

@media (min-width: 1440px) {
  .fit-food__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .fit-food__wrapper {
    margin: 0 auto;
    max-width: 1220px;
  }

  .fit-food__item:first-child {
    margin-top: 0;
  }

  .fit-food__item {
    width: 570px;
    min-height: 372px;
    margin: 0;
  }

  .fit-food__window::before {
    margin: 0;
    width: 100px;
    height: 100px;
    left: 0;
    margin-left: 52px;
  }

  .fit-food__window-cat::after {
    margin: 0;
    left: 0;
    width: 71px;
    height: 97px;
    margin-left: 66px;
    margin-top: 43px;
  }

  .fit-food__window-tiger::after {
    margin: 0;
    left: 0;
    width: 134px;
    height: 57px;
    margin-left: 34px;
    margin-top: 71px;
  }

  .fit-food__window {
    padding: 0;
    padding-left: 52px;
    padding-right: 53px;
    padding-bottom: 62px;
    padding-top: 49px;
  }

  .fit-food__caption {
    padding: 0;
    padding-left: 162px;
    padding-top: 29px;
  }

  .fit-food__description-cat {
    padding: 0;
    padding-top: 73px;
    padding-bottom: 32px;
  }

  .fit-food__description-tiger {
    padding: 0;
    padding-top: 74px;
    padding-bottom: 31px;
  }
}
