.grocery-list {
  position: relative;
}

.grocery-list__list {
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .grocery-list__wrapper {
    padding-top: 136px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 1440px) {
  .grocery-list__wrapper {
    padding-left: 110px;
    padding-right: 110px;
  }
}
