.grocery-list {

  position: relative;
}

.grocery-list__list {
  margin: 0;
  padding: 0;
}

.option {
  position: relative;
}

.option__btn {
  display: block;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #f2f2f2;
}

.option__name {
  margin: 0;
  text-align: center;
}

.option__wrapper {
  padding-top: 75px;
}

.option__add {
  display: block;
}

.option__add::before {
  content: "";
  position: absolute;
  width: 31px;
  height: 31px;
  opacity: 0.2;
  background-image: url("../img/icon-plus.svg");
  background-repeat: no-repeat;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 27px;
}

@media (min-width: 768px) {
  .grocery-list__wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }

  .option__wrapper {
    padding-top: 165px;
  }

  .option__add::before {
    width: 61px;
    height: 61px;
    margin-top: 55px;
  }
}

@media (min-width: 1440px) {
  .grocery-list__wrapper {
    padding-left: 110px;
    padding-right: 110px;
  }

}
