.option {

}

.option__name {
  font-size: 16px;
  line-height: 1.25;
  color: #111111;
  text-transform: uppercase;
}

.option__item {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  color: #444444;
}

.option__btn {
  font-size: 16px;
  color: #444444;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
}
