.page-main {

}

.page-main__food {
  min-height: 305px;
  background-image: url("../img/index-can-mobile@1x.png");
  background-repeat: no-repeat;
  background-position-x: center;
}

.page-main__programs {

}
