.structure__item {
  font-family: "Arial", sans-serif;
  text-align: left;
}

.structure__title {
  font-size: 36px;
  line-height: 1.67;
  text-align: left;
  color: #111111;
}

.structure__list {
  list-style: none;
  padding: 0;
}
