.welcome {
  height: 305px;
  color: #ffffff;
  background-color: green;
}

.welcome__slogan {
  font-size: 36px;
  line-height: 1;
  text-align: center;
  font-weight: normal;
}

.welcome__intro {
  line-height: 1;
  text-align: center;
}
