.address {
  position: absolute;
  width: 100%;
}

.address__description {
  width: 123px;
  margin: 0;
  font-size: 16px;
  line-height: 1.25;
  text-align: left;
  text-transform: uppercase;
  color: #111111;
}

.address__item {
  width: 135px;
  font-style: normal;
  font-family: "Arial", sans-serif;
  line-height: 1.43;
  text-align: left;
  color: #444444;
}

.address__wrapper {
  padding-bottom: 26px;
  padding-top: 29px;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  padding-right: 24px;
  padding-left: 19px;
}

@media (min-width: 768px) {
  .address {
    position: inherit;
  }

  .address__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    padding-top: 63px;
    padding-bottom: 62px;
    padding-left: 76px;
    padding-right: 89px;
  }

  .page-footer--catacog .address__wrapper {
    padding-top: 64px;
    padding-left: 71px;
    padding-right: 72px;
  }

  .page-footer--form .address__wrapper {
    padding-top: 63px;
  }

  .address__description {
    width: 154px;
    font-size: 20px;
    line-height: 1.25;
  }

  .address__item {
    width: 155px;
    text-align: right;
    font-size: 16px;
    line-height: 1.25;
    color: #444444;
  }

  .address__item--top {
    margin-bottom: 20px;
  }
}

@media (min-width: 1440px) {
  .address__item {
    text-align: left;
  }

  .page-footer--form .address__wrapper {
    padding-top: 74px;
    padding-left: 76px;
    padding-right: 89px;
  }

  .page-footer--catacog .address__wrapper {
    padding-top: 73px;
    padding-left: 75px;
    padding-right: 89px;
    padding-bottom: 62px;
  }

  .address__container {
    max-width: 1220px;
    margin: 0 auto;
  }

  .address {
    width: 570px;
    position: absolute;
    margin-top: 95px;
    margin-left: 110px;
  }
}
