.connection {

  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 125px;
  justify-content: space-between;

}

.connection__btn {
  display: block;
}

.connection__btn--vk {
  background-image: url("../img/icon-vk.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 22px;
  height: 12px;
}

.connection__btn--inst {
  background-image: url("../img/icon-insta.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 23px;
  height: 23px;
}

.connection__btn--facebook {
  background-image: url("../img/icon-fb.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 10px;
  height: 19px;
}
