.site-list {
  font-weight: bold;
  width: auto;
}

.site-list__point {
  letter-spacing: 1px;
  display: block;
  text-decoration: none;
  text-align: center;
  padding-top: 21px;
  padding-bottom: 24px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  color: #111111;
  text-transform: uppercase;
  background-color: #ffffff;
  border-top: 1px solid #e6e6e6;
}

.site-list__point--href {
  &:hover {
    color: rgba(17, 17, 17, 0.6);
  }

  &:active {
    color: rgba(17, 17, 17, 0.3);
  }
}

@media (min-width: 768px) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 490px;
    min-height: 60px;
  }

  .site-list__item {
    margin-right: 36px;

    &:last-child {
      margin-right: 0;
    }

    &--active {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 7px;
        left: 0;
        height: 2px;
        background-color: #68b738;
      }
    }
  }

  .site-list__point {
    font-size: 18px;
    line-height: 1.39;
    letter-spacing: normal;
    color: #222222;
    padding: 0;
    padding-top: 42px;
    padding-bottom: 12px;
    background: none;
    border: none;
  }

  .site-list__point--href {
    &:hover {
      color: rgba(17, 17, 17, 0.6);
    }
  }
}

@media (min-width: 1440px) {
  .site-list {
    width: 500px;
  }

  .site-list__item {
    padding-right: 17px;
    padding-left: 17px;
    margin-right: 0;

    &:last-child {
      margin-right: -16px;
    }

    &--active::after {
      right: 18px;
      left: 18px;
      background-color: #68b738;
    }
  }

  .index-page .site-list__point {
    color: #ffffff;
  }

  .index-page .site-list__item--active::after {
    background-color: #ffffff;
  }

  .site-list__point {
    letter-spacing: 1px;
    padding-right: 0;
    padding-left: 0;
  }

  .site-list__point--href {
    &:hover {
      color: rgba(17, 17, 17, 0.6);
    }

    &:active {
      color: rgba(0, 0, 0, 0.3);

      background-color: #ffffff;
      opacity: 1;
    }
  }
}
