.site-list {

  font-weight: bold;
  width: auto;
}

.site-list a {
  display: block;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;

  font-size: 20px;
  line-height: 1;
  // color: #111111;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #ffffff;
  border-top: 1px solid #e6e6e6;
}

.site-list a[href] {
  &:hover {
    color: rgba(17, 17, 17, 0.6);
  }

  &:active {
    color: rgba(17, 17, 17, 0.3);
  }

}

.site-list__point {
  text-decoration: none;
  color: #111111;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
}


@media (min-width: 768px) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 490px;
    min-height: 60px;
  }

  .site-list__point {
    color: #222222;
  }

  .site-list__item {
    margin-right: 37px;

    &:last-child {
      margin-right: 0;
    }

    &--active {
      position: relative;

      &::after {
        content: "";

        position: absolute;
        right: 0;
        bottom: 7px;
        left: 0;

        height: 2px;

        background-color: #68b738;
      }
    }
  }

  .site-list__item a {
    padding: 0;
    padding-top: 45px;
    padding-bottom: 12px;
    background: none;
    border: none;
  }

  .site-list__item a[href] {
    &:hover {
      color: rgba(17, 17, 17, 0.6);
    }
  }
}

@media (min-width: 1440px) {
  .site-list {
    width: 500px;
  }

  .site-list__item {
    margin-right: 0;

     &--active::after {
      right: 15px;
      left: 15px;
      background-color: #68b738;
    }
  }

  .site-list__index {
    color: #ffffff;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 15px;
      bottom: 1px;
      left: 15px;
      height: 2px;
      background-color: #ffffff;
      z-index: 1;
    }
  }

  .site-list__item a {
    padding-right: 15px;
    padding-left: 15px;
  }

  .site-list__item a[href] {
    &:hover {
      color: rgba(17, 17, 17, 0.6);
    }

    &:active {
      color: rgba(0, 0, 0, 0.3);

      background-color: #ffffff;
      opacity: 1;
    }
  }
}

